@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

.scroll-event1 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(-100%);
}

.scroll-event2 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(0%);
}

@media screen and (max-width: 1600px) {
  header .header-content .content-left ul {
    gap: 55px;
  }
  header .header-content .content-right ul {
    gap: 90px;
  }
}
@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
@media (max-width: 992px) {
  .banner {
    margin-top: 120px;
  }
  .banner .banner-text {
    display: none;
  }
  header .header-content {
    display: none !important;
  }
  header .navbar {
    display: block;
  }
  .nike-font {
    font-size: 40px;
  }
}
@media (max-width: 1400px) {
  header .header-content .content-left ul {
    gap: 20px;
  }
  header .header-content .content-right ul {
    gap: 40px;
  }
  .manunited .mu-content {
    display: none;
  }
}
@keyframes light-right {
  0% {
    right: -5%;
    opacity: 0;
  }
  50% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 105%;
    opacity: 0;
  }
}
@keyframes light-left {
  0% {
    left: -5%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 105%;
    opacity: 0;
  }
}
@keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

.scroll-event1 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(-100%);
}

.scroll-event2 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(0%);
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
}
header .container-fluid {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header ul {
  display: flex;
  gap: 80px;
  padding: 0;
}
header ul li a {
  font-size: 24px;
  font-weight: bold;
}
header ul i {
  color: #000;
  font-size: 20px;
  font-weight: 900;
}
header .content-right ul {
  gap: 130px;
}
header .content-center {
  position: relative;
}
header .content-center::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  right: -5%;
  animation: light-right 3s infinite alternate linear;
}
header .content-center::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  left: -5%;
  animation: light-left 3s infinite alternate linear;
}
header .line {
  display: inline-block;
  background-color: black;
  width: 1px;
  height: 20px;
  opacity: 0.2;
}
header .navbar {
  display: none;
}
header .navbar .navbar-nav {
  font-size: 25px;
  font-weight: bold;
}

@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

.scroll-event1 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(-100%);
}

.scroll-event2 {
  transition: transform 0.5s ease 0.1s;
  pointer-events: none;
  transform: translateY(0%);
}

footer .container-fluid .row .col h3 {
  font-size: 28px;
}
footer .container-fluid .row .col p {
  font-size: 18px;
}
footer .container-fluid .row .col input.col-9 {
  background-color: black;
  border: none;
  padding: 0;
  margin-right: 18px;
  border-bottom: 1px solid #eaeeef;
  color: #eaeeef;
  outline: none;
}
footer .container-fluid .row .col input::-moz-placeholder {
  color: #eaeeef;
}
footer .container-fluid .row .col input::placeholder {
  color: #eaeeef;
}
footer .container-fluid .row .col input.col-2 {
  font-size: 16px;
  font-weight: b;
  padding: 2px 5px;
}

@media screen and (max-width: 1600px) {
  header .header-content .content-left ul {
    gap: 55px;
  }
  header .header-content .content-right ul {
    gap: 90px;
  }
}
@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
@media (max-width: 992px) {
  .banner {
    margin-top: 120px;
  }
  .banner .banner-text {
    display: none;
  }
  header .header-content {
    display: none !important;
  }
  header .navbar {
    display: block;
  }
  .nike-font {
    font-size: 40px;
  }
}
@media (max-width: 1400px) {
  header .header-content .content-left ul {
    gap: 20px;
  }
  header .header-content .content-right ul {
    gap: 40px;
  }
  .manunited .mu-content {
    display: none;
  }
}
.product_detail {
  margin-top: 5%;
}
.product_detail .container-fluid .row .col h2 {
  color: #9e3500;
}
.product_detail .container-fluid .row .col img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(0.8);
  background-color: #eaeeef;
}
.product_detail .container-fluid .row .col .product_number .row .col-3 .row input {
  outline: none;
  vertical-align: middle;
  text-align: center;
}
.product_detail .container-fluid .row .col .product_number .row .col-3 .row button {
  border: none;
}

.product_related .container-fluid .row h3 {
  color: #9e3500;
  font-weight: 500;
  font-size: 45px;
  text-transform: capitalize;
}
.product_related .container-fluid .row .des {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 26px;
  opacity: 0.4;
}
.product_related .container-fluid .row .button-50 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.product_related .container-fluid .row .button-50:focus {
  text-decoration: none;
}
.product_related .container-fluid .row .button-50:hover {
  text-decoration: none;
  color: #767677;
  transition: all 0.3s;
}
.product_related .container-fluid .row .button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.product_related .container-fluid .row .button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
.product_related .container-fluid .row .img-content {
  background-color: #eaeeef;
}
.product_related .container-fluid .row .overlay-p {
  position: relative;
}
.product_related .container-fluid .row .overlay {
  position: absolute;
  bottom: -20px;
  left: 10px;
  padding: 3px 20px;
  background-color: white;
  font-size: 25px;
}
.product_related .container-fluid .row .btn-group i {
  font-size: 30px;
  max-height: 50px;
  padding: 10px;
  border: 1px solid black;
}
.product_related .container-fluid .row .btn-group i:hover {
  color: red;
  cursor: pointer;
  transition: all 0.3s;
}
.product_related .container-fluid .row .col img {
  transform: scale(0.8);
}
.product_related .container-fluid .row .col:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.5s;
}
.product_related .container-fluid .row .col:hover img {
  transform: scale(1);
  transition: transform 0.3s linear;
}/*# sourceMappingURL=detail.css.map */