@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

@media screen and (max-width: 1600px) {
  header .header-content .content-left ul {
    gap: 55px;
  }
  header .header-content .content-right ul {
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
@media (max-width: 992px) {
  .banner {
    margin-top: 120px;
  }
  .banner .banner-text {
    display: none;
  }
  header .header-content {
    display: none !important;
  }
  header .navbar {
    display: block;
  }
  .nike-font {
    font-size: 40px;
  }
  .manunited .mu-content {
    display: none;
  }
}
@media (max-width: 1400px) {
  header .header-content .content-left ul {
    gap: 20px;
  }
  header .header-content .content-right ul {
    gap: 40px;
  }
}
@keyframes light-right {
  0% {
    right: -5%;
    opacity: 0;
  }
  50% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 105%;
    opacity: 0;
  }
}
@keyframes light-left {
  0% {
    left: -5%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 105%;
    opacity: 0;
  }
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
}
header .container-fluid {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header ul {
  display: flex;
  gap: 80px;
  padding: 0;
}
header ul li a {
  font-size: 24px;
  font-weight: bold;
}
header ul i {
  color: #000;
  font-size: 20px;
  font-weight: 900;
}
header .content-right ul {
  gap: 115px;
}
header .content-center {
  position: relative;
}
header .content-center::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  right: -5%;
  animation: light-right 3s infinite alternate linear;
}
header .content-center::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  left: -5%;
  animation: light-left 3s infinite alternate linear;
}
header .line {
  display: inline-block;
  background-color: black;
  width: 1px;
  height: 20px;
  opacity: 0.2;
}
header .navbar {
  display: none;
}
header .navbar .navbar-nav {
  font-size: 25px;
  font-weight: bold;
}

@font-face {
  font-family: Adidas;
  src: url("../../font/AdihausDIN/adihausdin_cn.ttf");
}
@font-face {
  font-family: Nike;
  src: url("../../font/Nike-Futura.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Adidas, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nike-font {
  font-size: 65px;
}

.line-bw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-bw p {
  margin: 100px 0;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}

.btn-hot {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
}

.header-space-height {
  margin-top: 80px;
}

footer .container-fluid .row .col h3 {
  font-size: 28px;
}
footer .container-fluid .row .col p {
  font-size: 18px;
}
footer .container-fluid .row .col input.col-9 {
  background-color: black;
  border: none;
  padding: 0;
  margin-right: 18px;
  border-bottom: 1px solid #eaeeef;
  color: #eaeeef;
  outline: none;
}
footer .container-fluid .row .col input::placeholder {
  color: #eaeeef;
}
footer .container-fluid .row .col input.col-2 {
  font-size: 16px;
  font-weight: b;
  padding: 2px 5px;
}

* {
  outline: none;
  list-style: none;
}

.form-register {
  position: relative;
  height: 100vh;
  background-image: url(../image/gb.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  display: flex;
  max-width: 760px;
  width: 100%;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .left,
.wrapper .right {
  width: 50%;
  height: 100%;
  padding: 30px;
}
.wrapper .left {
  background: #494f57;
  border-radius: 5px;
}
.wrapper .left h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: 20px;
}
.wrapper .left img {
  display: block;
  width: 220px;
  margin: 25px auto 0;
}
.wrapper .right {
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.wrapper .right .tabs ul {
  text-align: center;
}
.wrapper .right .tabs ul li {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  color: #494f57;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 20px;
}
.wrapper .right .tabs ul li.active {
  border-bottom: 2px solid #494f57;
}
.wrapper .right .btn-register {
  position: absolute;
  bottom: 10px;
  width: 80%;
}
.wrapper .right .input_field .input {
  width: 100%;
  padding: 10px 15px;
  border: 0px;
  font-size: 16px;
  background: #ecebeb;
  border-radius: 5px;
}
.wrapper .right .input_field .sp-thongbao {
  display: inline-block;
  text-align: center;
  color: red;
  margin: 0px 15px;
}
.wrapper .right .checkNamNu {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding-left: 0;
}
.wrapper .right .btn {
  background: #494f57;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: #ecebeb;
  font-size: 13px;
}/*# sourceMappingURL=register.css.map */