@import "./base/reset";
@import "./base/custom";
@import "./component/media";
@import "./component/animation";
@import "./helpers/mixin";
@import "./helpers/variable";
@import "./layouts/header";
@import "./layouts/footer";
@import "./component/media";

.product_detail {
  margin-top: 5%;
  .container-fluid {
    .row {
      .col {
        img {
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          transform: translateX(22%);
          transform: scale(0.8);
          background-color: #eaeeef;
        }
        .product_number {
          .row {
            .col-3 {
              .row {
                input {
                  outline: none;
                  vertical-align: middle;
                  text-align: center;
                }
                button {
                  border: none;
                }
              }
            }
            // .col-8 {
            //   button {
            //     &:hover {
            //       text-decoration: none;
            //       color: #767677;
            //       transition: all 0.5s;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}
.product_related {
  .container-fluid {
    .row {
      h3 {
        color: #9e3500;
        font-weight: 500;
        font-size: 45px;
        text-transform: capitalize;
      }
      .des {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 26px;
        opacity: 0.4;
      }
      .button-50 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 23px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 10px 0;
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        &:focus {
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
          color: #767677;
          transition: all 0.3s;
        }
        &:active {
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          outline: 0;
        }
        &:not([disabled]):active {
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          transform: translate(2px, 2px);
        }
      }
      .img-content {
        background-color: #eaeeef;
      }
      .overlay-p {
        position: relative;
      }
      .overlay {
        position: absolute;
        bottom: -20px;
        left: 10px;
        padding: 3px 20px;
        background-color: white;
        font-size: 25px;
      }
      .btn-group {
        i {
          font-size: 30px;
          max-height: 50px;
          padding: 10px;
          border: 1px solid black;
          &:hover {
            color: red;
            cursor: pointer;
            transition: all 0.3s;
          }
        }
      }
      .col {
        img {
          transform: scale(0.8);
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          transition: all 0.5s;
          img {
            transform: scale(1);
            transition: transform 0.3s linear;
          }
        }
      }
    }
  }
}
