// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import "./base/reset";
@import "./base/custom";
@import "./component/media";
@import "./component/animation";
@import "./helpers/mixin";
@import "./helpers/variable";
@import "./layouts/header";
@import "./layouts/footer";
* {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  outline: none;
  // text-decoration: none;
  list-style: none;
  // font-family: "Nunito", sans-serif;
}
// body {
//   background: #dfdfdf;
//   background-image: url(../image/gb.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
// }
.form-register {
  position: relative;
  height: 100vh;
  background-image: url(../image/gb.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.wrapper {
  display: flex;
  max-width: 760px;
  width: 100%;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .left,
  .right {
    width: 50%;
    height: 100%;
    padding: 30px;
  }

  .left {
    background: #494f57;
    border-radius: 5px;

    h3 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
      font-size: 20px;
    }

    img {
      display: block;
      width: 220px;
      margin: 25px auto 0;
    }
  }

  .right {
    background: #fff;
    border-radius: 5px;
    position: relative;
    .tabs {
      ul {
        text-align: center;
        li {
          display: inline;
          margin-right: 30px;
          font-size: 14px;
          color: #494f57;
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;
          font-size: 20px;
          &.active {
            border-bottom: 2px solid #494f57;
          }
        }
      }
    }

    // .register,
    // .login {
    //   margin-bottom: 25px;
    // }
    .btn-register {
      position: absolute;
      bottom: 10px;
      width: 80%;
    }
    .input_field {
      .input {
        width: 100%;
        padding: 10px 15px;
        border: 0px;
        font-size: 16px;
        background: #ecebeb;
        border-radius: 5px;
      }
      .sp-thongbao {
        display: inline-block;
        text-align: center;
        color: red;
        margin: 0px 15px;
      }
    }
    .checkNamNu {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin: 0;
      padding-left: 0;
    }
    .btn {
      background: #494f57;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      color: #ecebeb;
      font-size: 13px;

      // translate: 0% -20%;
      // a {
      //   display: block;
      //   font-size: 14px;
      //   text-decoration: none;

      // }
    }
  }
}
