@import "../helpers/mixin";
@import "../component/animation";

header {
    background-color: #fff;
    position : fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1234;
    .container-fluid {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    ul {
        display: flex;
        gap: 80px;
        padding: 0;

        li {
            a {
                font-size: 14px;
                font-weight: bold;
            }
        }

        i {
            color: #000;
            font-size: 20px;
            font-weight: 900;
        }
    }

    .content-right {
        ul {
            gap: 130px;
        }
    }

    .content-center {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 10px;
            height: 100%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, .75);
            right: -5%;
            animation: light-right 3s infinite alternate linear;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            width: 10px;
            height: 100%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, .75);
            left: -5%;
            animation: light-left 3s infinite alternate linear;
        }
    }

    .line {
        display: inline-block;
        background-color: black;
        width: 1px;
        height: 20px;
        opacity: .2;
    }
}
.header-space-height{
    margin-top: 80px;
}
.scroll-event1{
    transition: transform .5s ease .1s;
    pointer-events: none;
    transform: translateY(-100%);
}
.scroll-event2{
    transition: transform .5s ease .1s;
    pointer-events: none;
    transform: translateY(0%);
}