<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="../css/detail.css" />
  </head>

  <body>
    <header id="header">
      <div class="container-fluid pt-lg-2 px-lg-5">
        <div
          class="header-content d-flex justify-content-between align-items-center py-2"
        >
          <div class="content-left">
            <ul>
              <li><a href="../index.html">HOME</a></li>
              <li><a href="">NEW RELEASES</a></li>
              <li><a href="">BRANDS</a></li>
              <li><a href="">CATEGORIES</a></li>
              <li><a href="">SALE</a></li>
            </ul>
          </div>
          <div class="content-center">
            <img src="../image/logo.png" alt="" />
          </div>
          <div class="content-right">
            <div class="content-text">
              <ul>
                <li><a href="">RELEASES</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">LOCATION</a></li>
                <li class="d-flex align-items-center gap-3">
                  <a href="./register.html">REGISTER</a>
                  <span class="line"></span>
                  <i class="fa-solid fa-cart-shopping"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../image/logo.png" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
              <a class="nav-link" href="#">NEW RELEASES</a>
              <a class="nav-link" href="#">BRANDS</a>
              <a class="nav-link">CATEGORIES</a>
              <a class="nav-link">SALE</a>
            </div>
        </div>
      </nav>
    </header>
    <section class="product_detail">
      <div class="container-fluid pt-lg-2 px-lg-5">
        <div
          class="row row-cols-1 row-cols-lg-2 align-items-center g-2"
          id="renderDetail"
        ></div>
      </div>
    </section>
    <section class="product_related my-5">
      <h2 class="text-center my-3 fs-1 fw-bold">- Related Products -</h2>
      <div class="container-fluid pt-lg-2 px-lg-5">
        <div class="row row-cols-1 row-cols-lg-3" id="renderRelated"></div>
      </div>
    </section>
    <footer class="bg-black text-light py-4 px-5 px-lg-0">  
      <div class="container-fluid pt-lg-2 px-lg-5 ">
        <div class="row row-cols-1 row-cols-lg-3">
          <div class="col p-0">
            <h3 class="fw-bold">CONTACTS</h3>
            <p><span>Address: </span>922/3 Cách Mạng Tháng 8,Phường 5, Quận Tân Bình, TP.HCM</p>
            <p><span>Hotline: </span>0901375677</p>
            <p><span>Email: </span>saigonsneakerstore@gmail.com</p>
          </div>
          <div class="col p-0 ps-lg-3">
            <h3 class="fw-bold">WORK HOURS</h3>
            <p>9:30 -- 21: 30</p>
          </div>
          <div class="col p-0">
            <h3 class="fw-bold">REGISTER FOR THE NEW INFO</h3>
            <div class="row row-cols-2 w-75 ps-3">
            <input type="text" placeholder="Email" class="col-9">
            <input
              name=""
              id=""
              class="btn btn-light col-2"
              type="button"
              value="Send"
            />
          </div>
          </div>
        </div>
      </div>
      <p class="text-center m-0">&copy; ShoesShopProject 2024</p>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
      integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="../js/detail.js"></script>
  </body>
</html>
